/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --color-text-on-accent: #ff0070;
  --bg-color: #000028;
  --title-color: #db00ff;
  --color-text: #000028;
  --p-text-color: #f1b2ce;
  --hover-button: #ff007066;
}

.theme-dark .rec-decoration {
  display: flex;
}
