/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --color-text-on-accent: #353430;
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --color-text: var(--color-text-on-accent);
  --p-text-color: var(--color-text-on-accent);
  --background-image: url("../images/cover-image-light.png");
  --hover-button: #32312d66;
}

.theme-light .rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  .rec-decoration {
    display: none;
  }
  :root {
    --accent-color: #ff8dcb;
    --color-text-on-accent: #353430;
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --color-text: var(--color-text-on-accent);
    --p-text-color: var(--color-text-on-accent);
    --background-image: url("../images/cover-image-light.png");
    --hover-button: #32312d66;
  }
}
